@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    @apply font-sans;
}

body {
    background-image: url("/images/helper/diamond-upholstery.png");
    background-repeat: repeat;
    background-position: top center;
    background-blend-mode: multiply;
}

input:invalid,
textarea:invalid,
select:invalid {
    box-shadow: none;
}

[x-cloak] {
    display: none;
}

[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
    outline: none;
    box-shadow: none;
    border-color: #ee6c4d;
}

#userform {
    background-image: url("/images/helper/formhead.svg");
    background-repeat: no-repeat;
    background-position: top center;
    overflow: hidden;
}

.top-112 {
    top: 30rem /* 480px */;
}

.w-2\/3 {
    width: calc((100% / 3) * 2);
}

.w-3\/5 {
    width: calc((100% / 5) * 3);
}

.w-1\/8 {
    width: calc(100% / 8);
}

.right-1\/5 {
    right: calc(100% / 5);
}

.xl\:right-1\/6,
.right-1\/6 {
    right: calc(100% / 6);
}

.xl\:-right-76,
.-right-76 {
    right: -19rem /* -304px */;
}
