@tailwind base;

input:invalid,
textarea:invalid,
select:invalid {
    box-shadow: none;
}

@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.text-xxs {
    font-size: 0.625rem /* 10px */;
    line-height: 0.75rem /* 12px */;
}

.w-2\/3 {
    width: calc((100% / 3) * 2);
}
